# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.log

# Binaries downloaded manually (FFmpeg, Vosk model)
bin/ffmpeg*
bin/vosk-model*
!bin/.gitkeep
